@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* GLOBAL */

:root{
    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700;

    --white: #f8f8f8;
    --whiteOpacity: #f8f8f880;
    --black: #0e0e11;
    --gray: #595967;
    --light-gray: #e0e0e0;
    --delete: #10638d;
    --add: #169de3;
    --light-add: #67c4cd;
}

::placeholder { 
    color: var(--gray);
    opacity: 1; 
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--whiteOpacity);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--whiteOpacity);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--white);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

input:focus,
input:active{
    outline: none;
}

/* CONTAINER */

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
}

/* TITLE */

.title{
    text-align: center;
    font-weight: var(--medium);
    font-size: 20px;
    letter-spacing: -2px;
    line-height: 22px;
    color: var(--white);
}

.title span{
    font-size: 28px;
    font-weight: var(--bold);
    color: var(--white);
}

.title a{
    text-decoration: none;
    color: var(--white);
    padding: 0 3px;
}

.title a:hover{
    background-color: var(--whiteOpacity);
}

/* APP */

#app{
    height: 80%;
    width: 90%;
}

.date{
   font-weight: var(--medium); 
   color: var(--white);
   padding-bottom: 3px;
   border-bottom: 1px solid var(--light-gray);
}

.add-task{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 15px 15px 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 30px;
    font-weight: var(--light);
    color: var(--white);
    border: 1px solid var(--light-add);
    background-color: var(--add);
    cursor: pointer;
}

.add-task:focus{
    outline: none;
}

.todo-list{
    width: 100%;
    height: 85%;
    margin-top: 5px;
    list-style: none;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.todo-list-item{
    width: 100%;
    height: 40px;
    background-color: var(--whiteOpacity);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.todo-list-item-text{
    padding: 5px;
    color: var(--black);
    font-weight: var(--medium);
}

.todo-list-item-delete{
    width: 40px;
    height: 40px;
    border: none;
    color: var(--white);
    padding: 5px;
    background-color: var(--delete);
    cursor: pointer;
}

.alert{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* width: 85vw; */
    /* height: 25vh;*/
    /* background-color: rgba(89, 89, 103, 0.6);    */
    border: none;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.close-alert{
    display: block;
    width: 20px;
    height: 20px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: var(--white);
    text-shadow: 0 0 10px var(--black);
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    cursor: pointer;
}

.alert-text{
    color: var(--white);
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: var(--bold);
    text-shadow: 0 0 10px var(--black);
}

.alert-input{
    color: var(--black);
    background-color: var(--whiteOpacity);
    border: 1px solid var(--light-gray);
    margin-bottom: 15px;
    padding: 5px;
    font-weight: var(--medium);
}

.alert-button{
    color: var(--white);
    background-color: var(--add);
    border: 1px solid var(--light-add);
    padding: 5px;
    font-weight: var(--medium);
    cursor: pointer;
}

.hide{
    display: none;
}

.add-task-desktop-container{
    display: none;
}

/* MEDIA QUERIES */

@media (min-width: 768px){

    #app{
        width: 70%;
    }
    
    .add-task{
        display: none;
    }

    .add-task-desktop{
        display: block;
        width: 100%;
        height: 40px;
        color: var(--black);
        background-color: var(--whiteOpacity);
        border: 1px solid var(--light-gray);
        padding: 5px;
        font-weight: var(--medium);
    }

    .add-task-desktop-button{
        width: 40px;
        height: 40px;
        border: none;
        color: var(--white);
        padding: 5px;
        background-color: var(--add);
        cursor: pointer;
    }

    .add-task-desktop-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}